## 6.7 Creating Data Dashboards

#### 1. Importing libraries

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import os
import sklearn
from sklearn.cluster import KMeans

In [6]:
# Turn project folder path into a string
path = r'C:/Users/Marker/Desktop/World Risk Index 03-25'

In [8]:
path

'C:/Users/Marker/Desktop/World Risk Index 03-25'

### 2. Converting categorical values to ordinals

##### 2.1 Import data

In [17]:
# Import "WRI_iso_updated.csv"
df_wri = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'WRI_iso_updated.csv'), index_col = False)

In [19]:
# Confirm the shape of the dataset
df_wri.shape

(1917, 13)

In [21]:
# Check a sample
df_wri.head()

,Country,ISO_a3,Year,WRI,Exposure,Vulnerability,Susceptibility,Lack of Coping Capacities,Lack of Adaptive Capacities,WRI Category,Exposure Category,Vulnerability Category,Susceptibility Category
0,Vanuatu,VUT,2011,32.00,56.33,56.81,37.14,79.34,53.96,Very High,Very High,High,High
1,Tonga,TON,2011,29.08,56.04,51.90,28.94,81.80,44.97,Very High,Very High,Medium,Medium
2,Philippines,PHL,2011,24.32,45.09,53.93,34.99,82.78,44.01,Very High,Very High,High,High
3,Solomon Islands,SLB,2011,23.51,36.40,64.60,44.11,85.95,63.74,Very High,Very High,Very High,High
4,Guatemala,GTM,2011,20.88,38.42,54.35,35.36,77.83,49.87,Very High,Very High,High,High

#### Convert values

In [24]:
# Define mapping dictionary
mapping = {'Very High': 5, 'High': 4, 'Medium': 3, 'Low': 2, 'Very Low': 1}

# Map categorical values to ordinals
df_wri = df_wri.replace(mapping)

C:\Users\Marker\AppData\Local\Temp\ipykernel_22336\3954765432.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_wri = df_wri.replace(mapping)

In [28]:
# Check a sample
df_wri.head(20)

,Country,ISO_a3,Year,WRI,Exposure,Vulnerability,Susceptibility,Lack of Coping Capacities,Lack of Adaptive Capacities,WRI Category,Exposure Category,Vulnerability Category,Susceptibility Category
0,Vanuatu,VUT,2011,32.00,56.33,56.81,37.14,79.34,53.96,5,5,4,4
1,Tonga,TON,2011,29.08,56.04,51.90,28.94,81.80,44.97,5,5,3,3
2,Philippines,PHL,2011,24.32,45.09,53.93,34.99,82.78,44.01,5,5,4,4
3,Solomon Islands,SLB,2011,23.51,36.40,64.60,44.11,85.95,63.74,5,5,5,4
4,Guatemala,GTM,2011,20.88,38.42,54.35,35.36,77.83,49.87,5,5,4,4
5,Bangladesh,BGD,2011,17.45,27.52,63.41,44.96,86.49,58.77,5,5,5,4
6,Timor-Leste,TLS,2011,17.45,25.97,67.17,52.42,89.16,59.93,5,5,5,5
7,Costa Rica,CRI,2011,16.74,42.39,39.50,21.96,63.39,33.14,5,5,2,2
8,Cambodia,KHM,2011,16.58,26.66,62.18,48.28,86.43,51.81,5,5,4,4
9,El Salvador,SLV,2011,16.49,32.18,51.24,30.55,75.35,47.82,5,5,3,3
10,Nicaragua,NIC,2011,15.74,27.64,56.94,41.23,83.00,46.59,5,5,4,4
11,Papua New Guinea,PNG,2011,15.45,23.26,66.41,50.04,84.83,64.36,5,5,5,5
12,Madagascar,MDG,2011,14.46,20.68,69.91,67.51,85.65,56.57,5,5,5,5
13,Brunei Darussalam,BRN,2011,14.08,36.28,38.83,13.48,66.06,36.93,5,5,2,1
14,Afghanistan,AFG,2011,14.06,18.45,76.19,61.09,93.94,73.55,5,5,5,5
15,Niger,NER,2011,14.03,18.49,75.86,69.38,89.54,68.65,5,5,5,5
16,Gambia,GMB,2011,13.90,22.20,62.63,45.29,83.99,58.62,5,5,4,4
17,Bhutan,BTN,2011,13.65,24.63,55.42,34.56,79.02,52.67,5,5,4,4
18,Fiji,FJI,2011,13.57,25.87,52.48,36.32,76.44,44.67,5,5,3,4
19,Guinea-Bissau,GNB,2011,13.12,18.53,70.84,59.51,89.76,63.26,5,5,5,5

#### 2.2 Export  the data

In [31]:
# Confirm the shape of the dataset
df_wri.shape

(1917, 13)

In [33]:
# Export df_wri as "WRI_tableau.csv"
df_wri.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'WRI_tableau.csv'), index = False)

### 3. Clustering

In [36]:
# Create a new dataframe with numerical variables only
df_num = df_wri[
    ['WRI', 'Exposure', 'Vulnerability', 
    'Susceptibility', 'Lack of Coping Capacities', 'Lack of Adaptive Capacities']
].copy()

In [38]:
# Create the k-means object
kmeans = KMeans(n_clusters=3)

In [40]:
# Fit the k-means object to the data
kmeans.fit(df_num)

C:\Users\Marker\anaconda3\Lib\site-packages\joblib\externals\loky\backend\context.py:136: UserWarning: Could not find the number of physical cores for the following reason:
[WinError 2] Das System kann die angegebene Datei nicht finden
Returning the number of logical cores instead. You can silence this warning by setting LOKY_MAX_CPU_COUNT to the number of cores you want to use.
  warnings.warn(
  File "C:\Users\Marker\anaconda3\Lib\site-packages\joblib\externals\loky\backend\context.py", line 257, in _count_physical_cores
    cpu_info = subprocess.run(
               ^^^^^^^^^^^^^^^
  File "C:\Users\Marker\anaconda3\Lib\subprocess.py", line 548, in run
    with Popen(*popenargs, **kwargs) as process:
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Marker\anaconda3\Lib\subprocess.py", line 1026, in __init__
    self._execute_child(args, executable, preexec_fn, close_fds,
  File "C:\Users\Marker\anaconda3\Lib\subprocess.py", line 1538, in _execute_child
    hp, ht, pid, tid = _winapi.CreateProcess(executable, args,
                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

KMeans(n_clusters=3)

In [42]:
# Create column containing corresponding clusters
df_wri['Clusters'] = kmeans.fit_predict(df_num)

In [44]:
# Check a sample
df_wri.head()

,Country,ISO_a3,Year,WRI,Exposure,Vulnerability,Susceptibility,Lack of Coping Capacities,Lack of Adaptive Capacities,WRI Category,Exposure Category,Vulnerability Category,Susceptibility Category,Clusters
0,Vanuatu,VUT,2011,32.00,56.33,56.81,37.14,79.34,53.96,5,5,4,4,1
1,Tonga,TON,2011,29.08,56.04,51.90,28.94,81.80,44.97,5,5,3,3,0
2,Philippines,PHL,2011,24.32,45.09,53.93,34.99,82.78,44.01,5,5,4,4,0
3,Solomon Islands,SLB,2011,23.51,36.40,64.60,44.11,85.95,63.74,5,5,5,4,1
4,Guatemala,GTM,2011,20.88,38.42,54.35,35.36,77.83,49.87,5,5,4,4,0

In [46]:
# Check the frequencies of the "Clusters" columns
df_wri['Clusters'].value_counts()

Clusters
0    773
1    588
2    556
Name: count, dtype: int64

In [48]:
# Check for missing values
df_wri.isnull().sum()

Country                        0
ISO_a3                         0
Year                           0
WRI                            0
Exposure                       0
Vulnerability                  0
Susceptibility                 0
Lack of Coping Capacities      0
Lack of Adaptive Capacities    0
WRI Category                   0
Exposure Category              0
Vulnerability Category         0
Susceptibility Category        0
Clusters                       0
dtype: int64

#### 3.1 Export data

In [53]:
# Confirm the shape of the dataset
df_wri.shape

(1917, 14)

In [55]:
# Export df_num as "WRI_complete_clustered.csv"
df_wri.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'WRI_complete_clustered.csv'), index = False)

## 4. Creating a correlation matrix

#### 4.1 Create matrix

In [60]:
# Create a subset for continuous variables
df_cont = df_wri[
    ['WRI', 'Exposure', 'Vulnerability', 'Susceptibility',
     'Lack of Coping Capacities', 'Lack of Adaptive Capacities']
]

In [62]:
# Create a correlation matrix
df_matrix = df_cont.corr()

df_matrix

,WRI,Exposure,Vulnerability,Susceptibility,Lack of Coping Capacities,Lack of Adaptive Capacities
WRI,1.000000,0.917488,0.445140,0.380923,0.458327,0.413403
Exposure,0.917488,1.000000,0.106925,0.065290,0.147847,0.087742
Vulnerability,0.445140,0.106925,1.000000,0.935944,0.930961,0.945379
Susceptibility,0.380923,0.065290,0.935944,1.000000,0.784190,0.838044
Lack of Coping Capacities,0.458327,0.147847,0.930961,0.784190,1.000000,0.833058
Lack of Adaptive Capacities,0.413403,0.087742,0.945379,0.838044,0.833058,1.000000

#### 4.2 Export the data

In [65]:
# Confirm the shape of the dataset
df_matrix.shape

(6, 6)

In [67]:
# Export df_matrix as "WRI_matrix.csv"
df_matrix.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'WRI_matrix.csv'))

## 5. Merging temperature dataframes

#### Import data

In [71]:
# Import "temp_anomalies_smoothed.csv"
df_temp_1 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'temp_anomalies_prepared.csv'))

In [73]:
# Confirm the shape of the dataset
df_temp_1.shape

(278, 2)

In [75]:
# Check a sample
df_temp_1.head()

         Date  Anomaly
0  2001-01-01     0.45
1  2001-02-01     0.43
2  2001-03-01     0.55
3  2001-04-01     0.53
4  2001-05-01     0.57

In [77]:
# Import "temp_anomalies_smoothed.csv"
df_temp_2 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'temp_anomalies_smoothed.csv'))

In [79]:
# Confirm the shape of the dataset
df_temp_2.shape

(278, 2)

In [81]:
# Check a sample
df_temp_2.head()

         Date  Anomaly Moving Average
0  2001-01-01                0.450000
1  2001-02-01                0.440000
2  2001-03-01                0.476667
3  2001-04-01                0.490000
4  2001-05-01                0.506000

#### Change data types

In [84]:
# Convert 'Date' column to datetime format
df_temp_1['Date'] = pd.to_datetime(df_temp_1['Date'])

In [86]:
# Check a sample
df_temp_1.head()

        Date  Anomaly
0 2001-01-01     0.45
1 2001-02-01     0.43
2 2001-03-01     0.55
3 2001-04-01     0.53
4 2001-05-01     0.57

In [88]:
# Check metadata
df_temp_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     278 non-null    datetime64[ns]
 1   Anomaly  278 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 4.5 KB

In [90]:
# Convert 'Date' column to datetime format
df_temp_2['Date'] = pd.to_datetime(df_temp_2['Date'])

In [92]:
# Check a sample
df_temp_2.head()

        Date  Anomaly Moving Average
0 2001-01-01                0.450000
1 2001-02-01                0.440000
2 2001-03-01                0.476667
3 2001-04-01                0.490000
4 2001-05-01                0.506000

In [94]:
# Check metadata
df_temp_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    278 non-null    datetime64[ns]
 1   Anomaly Moving Average  278 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 4.5 KB

### 5.1 Merging dataframes

In [99]:
# Merge the DataFrames on the 'Date' column
temp_merged = pd.merge(df_temp_1, df_temp_2, on='Date', how='inner')

In [101]:
# Check a sample
temp_merged.head()

        Date  Anomaly  Anomaly Moving Average
0 2001-01-01     0.45                0.450000
1 2001-02-01     0.43                0.440000
2 2001-03-01     0.55                0.476667
3 2001-04-01     0.53                0.490000
4 2001-05-01     0.57                0.506000

### 5.2 Export  the data

In [106]:
# Confirm the shape of the dataset
temp_merged.shape

(278, 3)

In [108]:
# Export temp_merged as "temp_anomalies_tableau.csv"
temp_merged.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'temp_anomalies_tableau.csv'), index = False)

## 6. Merging WRI & HDI dataframes

####  6.1 Import data

In [114]:
# Import "HDI_prepared.csv"
df_hdi = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'HDI_prepared.csv'), index_col = False)

In [116]:
# Confirm the shape of the dataset
df_hdi.shape

(206, 1076)

In [118]:
# Check a sample
df_hdi.head()

,iso3,country,hdicode,region,hdi_rank_2022,hdi_1990,hdi_1991,hdi_1992,hdi_1993,hdi_1994,...,pop_total_2013,pop_total_2014,pop_total_2015,pop_total_2016,pop_total_2017,pop_total_2018,pop_total_2019,pop_total_2020,pop_total_2021,pop_total_2022
0,AFG,Afghanistan,Low,SA,182.0,0.284,0.292,0.299,0.307,0.300,...,31.541208,32.716210,33.753499,34.636207,35.643417,36.686784,37.769498,38.972231,40.099462,41.128771
1,ALB,Albania,High,ECA,74.0,0.649,0.632,0.616,0.618,0.623,...,2.887014,2.884102,2.882480,2.881063,2.879355,2.877013,2.873883,2.866849,2.854710,2.842321
2,DZA,Algeria,High,AS,93.0,0.593,0.596,0.601,0.602,0.603,...,38.000627,38.760168,39.543154,40.339329,41.136546,41.927007,42.705368,43.451666,44.177968,44.903225
3,AND,Andorra,Very High,NaN,35.0,NaN,NaN,NaN,NaN,NaN,...,0.071366,0.071622,0.071746,0.072540,0.073836,0.075013,0.076343,0.077700,0.079034,0.079824
4,AGO,Angola,Medium,SSA,150.0,NaN,NaN,NaN,NaN,NaN,...,26.147002,27.128336,28.127721,29.154746,30.208628,31.273533,32.353588,33.428486,34.503774,35.588987

#### 6.2 Merging dataframes

In [121]:
# Convert the 'year' column in df_wri to string type
df_wri['Year'] = df_wri['Year'].astype(str)

# Define the columns to merge from df_hdi
columns_to_merge = ['iso3'] + [f'hdi_{year}' for year in range(2011, 2022)]

# Melt the df_hdi DataFrame to transpose HDI values into rows
melted_hdi = df_hdi.melt(id_vars='iso3', value_vars=columns_to_merge[1:], var_name='year', value_name='HDI')

# Extract the year from the 'year' column
melted_hdi['year'] = melted_hdi['year'].str.split('_').str[-1]

# Merge the melted_hdi DataFrame with df_wri based on 'iso3' and 'year'
df_wri_hdi = pd.merge(df_wri, melted_hdi, left_on=['ISO_a3', 'Year'], right_on=['iso3', 'year'], how='inner')

# Drop redundant 'iso3' column after merge
df_wri_hdi.drop(columns=['iso3', 'year'], inplace=True)

In [123]:
# Confirm the shape of the dataset
df_wri_hdi.shape

(1917, 15)

In [125]:
# Check a sample
df_wri_hdi.head()

,Country,ISO_a3,Year,WRI,Exposure,Vulnerability,Susceptibility,Lack of Coping Capacities,Lack of Adaptive Capacities,WRI Category,Exposure Category,Vulnerability Category,Susceptibility Category,Clusters,HDI
0,Vanuatu,VUT,2011,32.00,56.33,56.81,37.14,79.34,53.96,5,5,4,4,1,0.581
1,Tonga,TON,2011,29.08,56.04,51.90,28.94,81.80,44.97,5,5,3,3,0,0.716
2,Philippines,PHL,2011,24.32,45.09,53.93,34.99,82.78,44.01,5,5,4,4,0,0.677
3,Solomon Islands,SLB,2011,23.51,36.40,64.60,44.11,85.95,63.74,5,5,5,4,1,0.557
4,Guatemala,GTM,2011,20.88,38.42,54.35,35.36,77.83,49.87,5,5,4,4,0,0.617

In [127]:
# Check for missing values
df_wri_hdi.isnull().sum()

Country                        0
ISO_a3                         0
Year                           0
WRI                            0
Exposure                       0
Vulnerability                  0
Susceptibility                 0
Lack of Coping Capacities      0
Lack of Adaptive Capacities    0
WRI Category                   0
Exposure Category              0
Vulnerability Category         0
Susceptibility Category        0
Clusters                       0
HDI                            0
dtype: int64

#### 6.3 Export the data

In [130]:
# Confirm the shape of the dataset
df_wri_hdi.shape

(1917, 15)

In [132]:
# Export df as "WRI_HDI_combined.csv"
df_wri_hdi.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'WRI_HDI_combined.csv'), index = False)